/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body background and font */
body {
    font-family: Arial, sans-serif;
    background-color: #d1d1e0;
}
/* Header Styles */
.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(226, 5, 64, 0.88);
}

/* Logo Styles */
.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Bar Styles */
.nav ul {
    list-style-type: none;
    display: flex;
}

.nav ul li {
    margin-left: 100px;
    margin-right: 100px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 38px;
    transition: color 0.3s;
}

/* Hover Effect for Links */
.nav ul li a:hover {
    color: #eb6e0f; /* Green color when hovered */
}

/* Responsive Design (for mobile devices) */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
    }

    .nav ul li {
        margin: 10px 0;
    }
}
.image{
    max-width: 100%;
    height: 50px;
    border-radius: 20%;
    margin-bottom: 0px;
    text-align: right;
}
