
.container{
    text-align: center;
}
/* Body background and font */
.background {
    position: fixed;
    background-image: url(/src/assets/background.png);
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    height: 100vh; /* Ensures the body fills the full viewport */
    width: 100vw;
    filter: blur(3px);
    z-index: -1;
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h1 {
    background: rgba(0, 0, 0, 0.7);
    padding: 2vw 2vh;
    border-radius: 20px;
    margin-top: 0.5vw;
    margin-bottom: 5vw;
    font-family: impact, sans-serif;
    font-size: calc(1.5vh + 1.5vw);
    color: rgba(217, 170, 82, 1);
    opacity: 0;
    animation: fadeIn 3 ease-in forwards;

}

h2 {
    background: rgba(0, 0, 0, 0.7);
    padding: 1.0vw 1.0vh;
    border-radius: 20px;
    margin: 1vw;
    font-family: impact, sans-serif;
    font-size: calc(1vh + 1vw);
    color: rgba(217, 170, 82, 1);
    opacity: 0;
    animation: fadeIn 3 ease-in forwards;

}

h3 {
    background: rgba(0, 0, 0, 0.7);
    padding: 1vw 1vh;
    border-radius: 20px;
    margin: 0vw;
    font-family: impact, sans-serif;
    font-size: calc(1vh + 1vw);
    color: rgba(217, 170, 82, 1);
    opacity: 0;
    animation: fadeIn 3 ease-in forwards;
}

.fade-in {
    width: 40vw;
    height: auto;
    border-radius: 20%;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
    transition: transform 0.5s ease;
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}

/* Hover Effect for Links */
.fade-in:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.fade-text {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
